.container {
  background-color: aliceblue;
  height: 100vh;
}

.pageTitle {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 2em;
  margin: 0 auto;
  padding-top: 1em;
}

.generateContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vh 5vw;
}

.incrDecrButton {
  background-color: teal;
  color: white;
  font-size: 2rem;
  font-weight: 700;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25em;
  border: none;
  cursor: pointer;
}

.itemCountNumber {
  font-size: 2rem;
  font-weight: 700;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.generateButton {
  background-color: beige;
  color: black;
  font-weight: 600;
  font-size: 1.5rem;
  border-radius: 0.25em;
  width: 60%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cardContainer {
  width: 90%;
  padding: 1em;
  margin: 1em auto;
  background-color: teal;
  color: white;
  border-radius: 0.5em;
}

.cardTitle {
  font-weight: 700;
  font-size: 1.25rem;
}

.cardPrice {
  font-weight: 500;
  font-size: 0.8rem;
  display: flex;
  justify-content: flex-end;
}

.cardPrice > div {
  
}